<div class="header-section">
  <p class="title">Online Shopping App</p>
  <div class="d-flex search-box">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </div>
  <div class="login-btn">
    <a mat-raised-button extended routerLink=".">
      <mat-icon>shopping_cart_checkout</mat-icon>
      Cart
    </a>
  </div>
  <div class="login-btn">
    <a mat-raised-button extended routerLink=".">
      <mat-icon>login</mat-icon>
      Login
    </a>
  </div>
</div>
